.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-container {
  display: flexbox;
  justify-content: center;
  align-items: center;
  position: relative;
  column-count: 2;
}

img {
  width: 100px;
  height: 100px;
  padding: 0;
  margin: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.imgContainer {
  display: flex;
  flex-direction: row;
}

/* .imageApp {
  width: 200px;
  height: 200px;
  padding: 0;
  margin: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
} */
